<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MaddyNeutralRunning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>MaddyNeutralRunning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,118}}</string>
                <key>sourceSize</key>
                <string>{76,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaddyNeutralRunning.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fabaa6d0e8d3c3a42cce74597ffa9f$</string>
            <key>textureFileName</key>
            <string>MaddyNeutralRunning.png</string>
        </dict>
    </dict>
</plist>
