<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MaddyRedRunning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,145}}</string>
                <key>sourceSize</key>
                <string>{76,145}</string>
            </dict>
            <key>MaddyRedRunning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,149}}</string>
                <key>sourceSize</key>
                <string>{76,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaddyRedRunning.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bbfc415edcb2ca027b3cb9e43b96d0d$</string>
            <key>textureFileName</key>
            <string>MaddyRedRunning.png</string>
        </dict>
    </dict>
</plist>
